/* 更改ui框架样式 */
.weui-cells-top0 {
  margin-top: 0 !important;
}
.box {
  padding: 0.2rem;
  /* padding-top: 1rem; */
  line-height: 0.4rem;
}
.text-align-l {
  text-align: left !important;
}
.font-indent {
  text-indent: 2em;
}
/* 通用btn */
.globalBtn {
  margin-top: 1em !important;
  width: 80vw !important;
}
/* font-size */
.font-size-30 {
  font-size: 0.8rem !important;
}
.font-size-17 {
  font-size: 0.4533rem !important;
}
/* font-color */
.font-color-FFF {
  color: #fff !important;
}
/* border-redius */
.border-radius-12 {
  border-radius: 0.16rem;
}
.border-noRedius-l {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.border-noRedius-r {
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}
/* from */
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:#fff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
 color:#fff;
 opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
 color:#fff;
 opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color:#fff;
}
::-ms-input-placeholder { /* Microsoft Edge */
 color:#fff;
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
/* .input-group .form-control:last-child {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
} */
/* .input-group .form-control:nth-last-child(2) {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
} */
.input-group .form-control {
  display: table-cell;
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
}
.form-control {
  display: block;
  width: 100%;
  /* height: 34px; */
  padding: 0.16rem 0.32rem;
  font-size: 16px;
  line-height: 1.42857143;
  color: #fff;
  background-color: #23d4ea;
  background-image: none;
  border: 1px solid #23d4ea;
  border-radius: 0.16rem;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.form-control:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}
